<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');

?>
<?php
/** @var \Magento\Framework\View\TemplateEngine\Php $this */
/** @var \Kaliop\Blog\Block\Post\ListPost $block */

if ($customerSession->isLoggedIn()){
    $_collection = $block->getCollection()->addReadFilter($customerSession->getCustomerId());
} else {
    $_collection = $block->getCollection();
}
$_categoryCollection = $block->getCategoryCollection();
$_query = $block->getSearchQuery();

/** @var Kaliop\Blog\Helper\Data $_helper */
$_helper = $this->helper('Kaliop\Blog\Helper\Data');


?>
<h1><?php /** @var \Kaliop\Blog\Block\Post\ListPost $block */ ?>
    <?php echo __('Latest Blog Posts') ?>
</h1>

<?php if ($customerSession->isLoggedIn()): ?>
    <a href="/kaliop_blog/post/index">Unread posts</a>
<?php endif ?>
<div>
    <?php
    /**
     * Categories checkboxes
     */
    ?>
    <form type="get">
        <?php if ($_categoryCollection->count()): ?>
            <ul id="sl-categories" style="float:left;">
                <?php foreach ($_categoryCollection as $_category): ?>
                <li style="display:block;">
                    <button type="submit" name="categoryId"
                            value="<?php echo $_category->getId() ?>"><?php echo __($_category->getTitle()) ?></button>
                </li>
                    <?php endforeach; ?>
                <li style="display:block;">
                    <button type="submit" name="show" value="all">all</button>
                </li>
            </ul>
        <?php endif ?>
    </form>
</div>
<ul class="blog-post-list">
    <?php
    /**
     * Post list
     */
    ?>
    <ul style="width:300px;height:500px;overflow-y: auto;" id="sl-list">

        <?php foreach ($_collection as $_item) : ?>

            <p><?php echo $_item->getCreationTime() ?></p>
            <p><?php echo $_item->getTitle() ?></p>
            <p><?php echo $_item->getContent() ?></p>
            <a href="/<?php echo $_helper->getUrlKey() ?>/<?php echo $_item->getUrlKey() ?>">full view</a>
            <?php if ($customerSession->isLoggedIn()): ?>
                <form method="POST">
                    <input type="hidden" name="id" value="<?php echo $_item->getId() ?>"/>
                    <input type="submit" name="unsetRead" class="button" value="Unset"/>
                </form>
            <?php endif ?>
            <hr>
        <?php endforeach ?>

    </ul>
