<?php
/**
 * This file is part of Soon_StoreLocator for Magento2.
 *
 * @license All rights reserved
 * @author Krzysztof Majkowski <km@agence-soon.fr>
 * @category Soon
 * @package Soon_StoreLocator
 * @copyright Copyright (c) 2015 Agence Soon (http://www.agence-soon.fr)
 */

/** @var \Magento\Framework\View\TemplateEngine\Php $this */
/** @var \Kaliop\Blog\Block\Post\ViewPost $block */

/** @var Kaliop\Blog\Helper\Data $_helper */
$_helper = $this->helper('Kaliop\Blog\Helper\Data');
/** @var \Kaliop\Blog\Model\Post $_post */
$_item = $block->getPost();
?>
<?php if ($_item && $_item->getId()): ?>
<div class="store">
    <div class="store-name">
        <span><?php echo $_item->getTitle() ?></span>
        <p><?php echo $_item->getCreationTime() ?></p>
        <p><?php echo $_item->getContent() ?></p>
    </div>
</div>
<?php endif ?>


<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session'); ?>
<?php if($customerSession->isLoggedIn()): ?>

    <?php if(!is_null($_item->getReadIds($customerSession->getId()))):?>
        <?php $readIds = $_item->getReadIds($customerSession->getId()) ?>
    <?php else: ?>
        <?php $readIds = [] ?>
    <?php endif ?>
    <form method="POST" >
    <?php if(in_array($_item->getId(),$_item->getReadIds($customerSession->getId()))): ?>
        <input type="submit" name="unsetRead" class="button" value="Unset"/>
    <?php else: ?>
        <input type="submit" name="setRead" class="button" value="Set"/>
    <?php endif ?>
    </form>

<?php endif ?>
<!--<script type="text/javascript">-->
<!--    window.onload = function () {-->
<!--        alert("Data Saved: " + msg);-->
<!---->
<!--    };-->
<!---->
<!--    $(document).ready(function() {-->
<!--        console.log('si');-->
<!--        alert("Data Saved: " + msg);-->
<!---->
<!--        $('.button').on('click', function () {-->
<!--            event.preventDefault();-->
<!--            $.ajax({-->
<!--                type: "POST",-->
<!--                url: "#",-->
<!--                data: {run: 1}-->
<!--            }).done(function (msg) {-->
<!--                console.log('si');-->
<!--            }).always(function () {-->
<!--                    console.log('si');-->
<!--                }-->
<!--            )-->
<!---->
<!--        });-->
<!--    });-->
<!--</script>-->
